<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chatbot</title>
</head>

<body>
    <div>
        <div id="chatbot">
            <iframe
            allow="microphone;"
            width="350"
            height="430"
            src="https://console.dialogflow.com/api-client/demo/embedded/e56a5952-f7b6-4699-b041-27310690b45f">
        </iframe>
        </div>
    </div>
</body>

</html>