DJANGO_SECRET_KEY=django-insecure-&+8bom=6n5@=ec43ykmv-^on97bq8#t%i8h!w93!hxj4fnxv-b

DJANGO_DEBUG=True
DJANGO_APP_NAME=pelirecomiendo

DJANGO_DATABASE_HOST=127.0.0.1
DJANGO_DATABASE_PORT=3306
DJANGO_DATABASE_NAME=aula_2
DJANGO_DATABASE_USER=root
DJANGO_DATABASE_PASSWORD=oxipusio

EMAIL_HOST=
EMAIL_USE_TLS=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=